.DS_Store
*.o
*.so
*.a
**/CMakeFiles/*
/backend/cmake_install.cmake
/backend/Makefile
/.idea/.gitignore
/.idea/.name
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/trustwave.iml
/.idea/vcs.xml
**/cmake-build-debug/**
/CMakeFiles/
/.clion.source.upload.marker
/cdcm.cbp
/cmake_install.cmake
/CMakeCache.txt
/Makefile
/clients/cmake_install.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/tests/tests_run
/backend/cdcm_worker
/frontend/cdcm_broker
/tests/components/test_client
