<?xml version="1.0"?>
<Logger>
  <version>1</version>
  <Project>
    <name>Credentialed_Scanner</name>
    <level>15</level>
    <severity_levels>
    <debug value="1"/>
        <info value="2"/>
        <warning value="4"/>
        <error value="8"/>
    </severity_levels>
    <modules>
        <module name="broker" id="1" level="15" enable="true"/>
        <module name="worker" id="2" level="15" enable="true"/>
     </modules>
    <supported_sinks>
      <sink name="file">
        <id>1</id>
        <path>/var/cdcm/log/</path>
        <name>cdcm</name>
        <filter>debug</filter>
        <enable>true</enable>
      </sink>

    </supported_sinks>
  </Project> 
</Logger>

